@if(!Request.IsAuthenticated)
{
    <ul class="list-unstyled">
        <li>@Html.ActionLink("Реєстрація", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вхід", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


