@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Помилка</title>
</head>
<body>
    <hgroup>
        <h1>Помилка.</h1>
        <h2>Сталася помилка при обробці вашого запиту.</h2>
    </hgroup>
</body>
</html>
