@{
    ViewBag.Title = "Про розробника";
}
<h2>@ViewBag.Title</h2>

<p> Органайзер для методики підвищення особистої ефективності.</p>
<p> Програмний продукт, служить для організації персональної інформації, такої як важливі події, контакти та нотатки.</p>
<p>Версія 1.0.</p>
<p>Автор – студент групи ПІ-10-1.</p>
<p>Коробенюк Дмитро.</p>
 
